#Listor

Listan (list) är en av de mest användbara datastrukturerna i Python för att förvara värden av olika datatyper. I detta kapitel behandlas grunderna i andvändning av listor, och några av de vanligaste metoderna i anknytning till dem. Men först, kan du lista ut (höhö) vad följande program gör, och varför blir outputen 10?

In [127]:
lista1 = [1, 2, 3, 4, 5]
lista2 = [6, 7, 8, 9, 10]
lista3 = lista1 + lista2

print(lista3[2]+lista3[6])

10

Listor är behändiga med tanke på att man kan förvara och manipulera data i dem. Låt oss till nästa skapa tre listor för att spara olika typer av data i dem:

In [128]:
ankor = ['Knatte', 'Fnatte', 'Tjatte']
heltal = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
flyttal = [1.0, 2.0, 3.0]

print(ankor)
print(heltal)
print(flyttal)

['Knatte', 'Fnatte', 'Tjatte']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1.0, 2.0, 3.0]

Listan `ankor` håller tre strängar, `heltal` håller tre heltal, och `flyttal` håller tre flyttal.

En lista i Python kan också hålla blandat olika datatyper:

In [129]:
blandat = ['Kalle', 313, 313.313]

print(blandat)

['Kalle', 313, 313.313]

De enskilda värdena i listor kallas element. Varje element har en plats i listan vid ett specifikt index (ett heltal som anger platsen i ordning). Indexeringen i Python börjar från noll. Man kan komma åt specifika element i en lista med hjälp av indexeringen:

In [130]:
print(ankor[0])
print(heltal[1])
print(blandat[2])

Knatte
1
313.313

Man kan också komma åt element i ett viss interval med hjälp av så kallad "slicing":

In [131]:
tretillfem = heltal[3:6]

print(tretillfem)

[3, 4, 5]

Notera att intervallet som ges till "slicen" går från indexet du vill börja från, till indexet du vill sluta vid + 1.

Längden av en lista kan fås på samma sätt som längden av strängar, d.v.s. med `len` funktionen:

In [132]:
print(len(ankor))
print(len(heltal))
print(len(blandat))

3
10
3

Listor kan skapas som ovan, med färdiga värden, eller genom att skapa en tom lista som fylls senare. Vi skapar först en tom lista, och fyller den med hjälp av `append` metoden:

In [133]:
inkopslista = []
print(inkopslista)

inkopslista.append('banan')
print(inkopslista)

inkopslista.append('mjölk')
inkopslista.append('Nyaste HBL')
inkopslista.append('ägg')
print(inkopslista)

[]
['banan']
['banan', 'mjölk', 'Nyaste HBL', 'ägg']

Sedan kan vi ta bort element från listan med t.ex. `pop` metoden:

In [134]:
inkopslista.pop(1)
print(inkopslista)

['banan', 'Nyaste HBL', 'ägg']

Notera att ovan när vi "poppar" index 1 tas det andra elementet bort (kom ihåg indexeringskonventionen!). Om `pop` metoden kallas utan ett index som argument kommer det sista elementet att tas bort:

In [135]:
inkopslista.pop()
print(inkopslista)

['banan', 'Nyaste HBL']

Man kan också manipulera element i listor, och iterera över dem med t.ex. en `for loop`:

In [136]:
print('Gammal inköpslista:',inkopslista)

inkopslista[1] = 'Nyaste Kalle Ankan'

print('Ny inköpslista:', inkopslista)


print('\nGamla heltal:', heltal)

for i in range(len(heltal)):
  heltal[i] += 100

print('Nya heltal:', heltal)

Gammal inköpslista: ['banan', 'Nyaste HBL']
Ny inköpslista: ['banan', 'Nyaste Kalle Ankan']

Gamla heltal: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Nya heltal: [100, 101, 102, 103, 104, 105, 106, 107, 108, 109]

####Övning 1

####Övning 2

####Övning 3