#Listor

Listan (list) är en av de mest användbara datastrukturerna i Python för att förvara värden av olika datatyper. I detta kapitel behandlas grunderna i andvändning av listor, och några av de vanligaste metoderna i anknytning till dem. Men först, kan du lista ut (höhö) vad följande program gör, och varför blir outputen "tvåtre"?

In [ ]:
lista = ['ett', 'två', 'tre']
lista[1] + lista[2]

'tvåtre'

##Datatyper i listor

Listor är behändiga med tanke på att man kan förvara och manipulera data i dem. Låt oss till nästa skapa tre listor för att spara olika typer av data i dem:

In [ ]:
ankor = ['Knatte', 'Fnatte', 'Tjatte']
heltal = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
flyttal = [1.0, 2.0, 3.0]

print(ankor)
print(heltal)
print(flyttal)

['Knatte', 'Fnatte', 'Tjatte']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1.0, 2.0, 3.0]

Listan `ankor` håller tre strängar, `heltal` håller tre heltal, och `flyttal` håller tre flyttal.

En lista i Python kan också hålla blandat olika datatyper:

In [ ]:
blandat = ['Kalle', 313, 313.313]

print(blandat)

['Kalle', 313, 313.313]

##Element och index

De enskilda värdena i listor kallas element. Varje element har en plats i listan vid ett specifikt index (ett heltal som anger platsen i ordning). Indexeringen i Python börjar från noll. Man kan komma åt specifika element i en lista med hjälp av indexeringen:

In [ ]:
print(ankor[0])
print(heltal[1])
print(blandat[2])

Knatte
1
313.313

Längden av en lista kan fås på samma sätt som längden av strängar, d.v.s. med `len` funktionen:

In [ ]:
print(len(ankor))
print(len(heltal))
print(len(blandat))

3
10
3

##`append`, `pop` och `remove`

Vi skapar först en tom lista, och fyller den med hjälp av `append` metoden:

In [ ]:
inkopslista = []
print(inkopslista)

inkopslista.append('banan')
print(inkopslista)

inkopslista.append('mjölk')
inkopslista.append('Nyaste HBL')
inkopslista.append('ägg')
print(inkopslista)

[]
['banan']
['banan', 'mjölk', 'Nyaste HBL', 'ägg']

Sedan kan vi ta bort element från listan med t.ex. `pop` metoden:

In [ ]:
inkopslista.pop(1)
print(inkopslista)

['banan', 'Nyaste HBL', 'ägg']

Notera att ovan när vi "poppar" index 1 tas det andra elementet bort (kom ihåg indexeringskonventionen!). Om `pop` metoden kallas utan ett index som argument kommer det sista elementet att tas bort:

In [ ]:
inkopslista.pop()
print(inkopslista)

['banan', 'Nyaste HBL']

Vi kan också ta bort element från listan med att ge namnet på elementet med `remove` metoden, t.ex.:

In [ ]:
print(inkopslista)
inkopslista.remove('banan')
print(inkopslista)

['banan', 'Nyaste HBL']
['Nyaste HBL']

Men notera att `remove` metoden tar endast bort det första elementet den stöter på med motsvarande argument:

In [ ]:
inkopslista.append('äpple')
inkopslista.append('citron')
inkopslista.append('äpple')

print(inkopslista)
inkopslista.remove('äpple')
print(inkopslista)

['Nyaste HBL', 'äpple', 'citron', 'äpple']
['Nyaste HBL', 'citron', 'äpple']

## Iterering över listor

Man kan också manipulera element i listor, och iterera över dem med t.ex. en `for loop`:

In [ ]:
print('Gammal inköpslista:',inkopslista)
inkopslista[0] = 'Nyaste Kalle Ankan'
print('Ny inköpslista:', inkopslista)

print('\nGamla heltal:', heltal)
for i in range(len(heltal)):
  heltal[i] += 100
print('Nya heltal:', heltal)

Gammal inköpslista: ['Nyaste HBL', 'citron', 'äpple']
Ny inköpslista: ['Nyaste Kalle Ankan', 'citron', 'äpple']

Gamla heltal: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Nya heltal: [100, 101, 102, 103, 104, 105, 106, 107, 108, 109]

Man kan också iterera över listor utan att kalla på element vid specifika index:

In [ ]:
for inkop in inkopslista:
  print(inkop)

Nyaste Kalle Ankan
citron
äpple

`enumerate()` metoden är särskildt användbar om man vill iterera över element utan att kalla dem vid deras index, men också vill hålla reda på iterationsindexet:

In [ ]:
livsskeden = ['🥚', '🐣' , '🐤' , '🦆']
for i, anka in enumerate(livsskeden):
  print(i, ':', anka)

0 : 🥚
1 : 🐣
2 : 🐤
3 : 🦆

## `min`, `max` och medelvärde

Det är ofta bra att få reda på det minsta-, största- och medelvärdet av sin lista. Python har färdigt implementerat `min()` och `max()` funktionerna för att returnera det minsta, repsektive det största värdet av en mängd. Dessa funktioner kan ta som argument många värden av antingen heltal eller flyttal, t.ex. i formen av en lista.

In [ ]:
flyttal = [2.0, 5.0, 10.0, 3.0, 24.0, 10.0, 11.0]
print("flyttalen:", flyttal)
print("Minsta:", min(flyttal))
print("Största:", max(flyttal))

flyttalen: [2.0, 5.0, 10.0, 3.0, 24.0, 10.0, 11.0]
Minsta: 2.0
Största: 24.0


Medelvärdet av en lista kan man lätt räkna ut t.ex. som följer:

In [ ]:
summa = 0
for tal in flyttal:
  summa += tal

langd = len(flyttal)
medelvarde = summa/langd

print("summa:", summa)
print("listans längd:", langd)
print("medelvärde:", medelvarde)

summa: 65.0
listans längd: 7
medelvärde: 9.285714285714286

I exemplet ovan fyller vi en lista kallad `flyttal` med sju stycken godtyckliga flyttal. Sedan skapar vi en variabel med namnet `summa` som är i början noll. Vi adderar till `summa` variablen varje flyttal i listan, med hjälp av en `for loop`. Denna summa är sedan delad med längden av listan (`len(flyttal)`) för att få medelvärdet.

###Övningar

####Övning 1

Skapa en lista med heltalen 0-19, t.ex. så här:

```python
heltal = []
for i in range(20):
  heltal.append(i)
```


Spjälk sedan upp denna lista i två nya listor: En med alla jämna heltal, och en annan med alla udda heltal. Skriv ut alla listor för att se att programmet fungerar. Resultatet borde se ut så här:

```
Heltal: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Jämna: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
Udda: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
```

Tips: Använd dig av indexeringen och iterering av listor.

#### Övning 2

Högsta uppmätta temperaturen under dagarna 24.5-22.6 år 2020 var som följer:

```python
temperatur = [13.0 16.2 16.7 17.4 15.7 15.8 18.5 17.1 13.7 14.3 15.8 16.4 13.8 15.2 16.5 18.7 17.0 21.7 20.0 19.9 19.5 20.7 21.6 23.2 21.7 21.2 24.4 22.5 18.9 20.4]
```

Kopiera denna lista till din kod och ge följande information: Det minsta värdet, det högsta värdet, samt medeltalet av temperaturerna.

####Övning 3

Skriv ett program som skapar en inköpslista. Programmet skall ha tre funktionaliteter: Att lägga till produkter, ta bort produkter samt att printa ut produkterna som en lista.

Programmet skall fungera så här när du kör det:

```
Ge kommando: lägg till
lägg till produkt: ägg
Ge kommando: lägg till
lägg till produkt: mjölk
Ge kommando: lista
['ägg', 'mjölk']
Ge kommando: ta bort
ta bort produkt: mjölk
Ge kommando: lista
['ägg']
Ge kommando: sluta
```

Notera att allt efter ":" är användarens input!

Tips: `while` loopen och `input` funktionen från tidigare är nyttiga här.

####Övning 4

Fortsätt utveckla på programmet i föregående övning genom att lägga till en funktionalitet för att räkna ut priset för inköpen.

Programmet skall fungera så här när du kör det:

```
Ge kommando: lägg till
lägg till produkt: ägg 
produktens pris (€): 1.25
Ge kommando: lägg till
lägg till produkt: olivolja 
produktens pris (€): 5.99
Ge kommando: lista
['ägg', 'olivolja']
Ge kommando: pris
totala summan: 7.24 €
Ge kommando: sluta
```

Notera här också att allt efter ":" är användarens input!